//- item
div(id="message")
    div(class="userBox")
        label=item.username
    div(class="messageBox")
        p=item.message
        if session.user && item.username == session.user.username
            a(href="/deletemessage/"+item.id)
               button
                 text="Delete"