extends Layout

block content
    div
        div(class='adminBoard')
            table(class="gridtable")
                tr
                    th ID
                    th User Name
                    th Avatar Url
                    th Role
                    th Email
                    th Age
                    th
                each item in users
                    tr
                        td 
                            a(href="/details/" + item.id) #{item.id}
                        include partials/head.pug
                        td 
                            a(href="/delete/" + item.id) Delete