extends layout2

block content
    table(class="gridtable")
        tr
            th ID
            td=person.id
        tr
            th Name
            td=person.name
        tr
            th Age
            td=person.age
        tr
            th Species
            td=person.species
    form(id="form", method="get", action="/")
        input(type="submit", value="Back to list")