extends layout

block content
    form(id="form", method="post", action="/edit/"+user.id)
        label User Name:
        input(type="text", name="userName")
        br
        label Avatar Url:
        input(type="text", name="avaterUrl")
        br
        label Password:
        input(type="text", name="password")
        br
        label Role:
        input(type="text", name="role")
        br
        label Email:
        input(type="text", name="email")
        br
        label Age:
        input(type="text", name="age")
        br
        input(type="submit", value="Edit person")