extends layout2

block content
    form(id="form", method="post", action="/edit/"+person.id)
        label Name:
        input(type="text", name="name", value=person.name)
        br
        label Age:
        input(type="text", name="age", value=person.age)
        br
        label Species:
        select(name="species")
            option(selected=person.species) #{person.species}
            option(value="Human") Human
            option(value="Vampire") Vampire
            option(value="Werewolf") Werewolf
            option(value="Zombie") Zombie
        br
        input(type="submit", value="Edit person")