extends layout

block content
    div(class="messageBoard")
        each item in messages
            include partials/message.pug

        if loggedin
            form(id='messageForm', method='post', action='/postmessage', class="message")
                label New Message:
                br
                input(type='text', name='message')
                br
                input(type='submit', value='Add Message')
    //-bar graph
    div(id="canvasDiv")
        canvas#graphCanvas(width='250', height='280')
    script().
        var userList = !{JSON.stringify(graphData)};
    script(src='/chart.js')