extends layout
block content
  div(class="loginDiv")
    h3 Name Entry
    h4(class="warning")=failedMessage
    form(id='form', method='post', action='/login', class="loginF")
      label username:
      br
      input(type='text', name='username')
      br
      label Password:
      br
      input(type='password', name='password')
      br
      input(type='submit', value='submit')