extends layout
block content
  div(class="loginDiv")
    div(class="messageBoard")
      h3(id="loginTitle") Login
      h4(class="warning")=failedMessage
      form(id='formLogin', method='post', action='/login', class="loginF")
        div(class="containerForm")
          div(class="formSpacer1")
          label(class="formLabel") Username:&nbsp;
          input(class="formInput" type='text', name='username')
          div(class="formSpacer2")
        div(class="containerForm")
          div(class="formSpacer1")
          label(class="formLabel") Password:&nbsp;
          input(class="formInput" type='password', name='password')
          div(class="formSpacer2")
        div(class="containerForm")
          div(class="formSpacer2")
          div(class="formInputSpacer")
            div(class="login")
              button(type='submit')="Login"
          div(class="formSpacer2")