extends layout

block content
  div(class = 'signupF')
    div(class='one')
      h3 Infomation Entry
      form(id='form', method='post', action='/')
        label First Name:
        br
        input(type='text', name='firstName')
        br
        label Last Name:
        br
        input(type='text', name='lastName')
        br
        label Username:
        br
        input(type='text', name='username')
        br
        label Password:
        br
        input(type='password', name='pass')
        br
        br
        input(type='submit', value='submit') 
    div(class='two')
      img(id='avatar',src='')
      div 
        input(type='image', class='selectors', id='leftArrowButton', src='arrowLeft.png',onclick='avatarEyesUp()')
        label(class='AvatarText') Eyes
        input(type='image', class='selectors', id='rightArrowButton', src='arrowRight.png',onclick='avatarEyesDown()')
      div
        input(type='image', class='selectors', id='leftArrowButtonNose', src='arrowLeft.png',onclick='avatarNoseUp()')
        label(class='AvatarText') Nose
        input(type='image', class='selectors', id='rightArrowButtonNose', src='arrowRight.png',onclick='avatarNoseDown()')
      div
        input(type='image', class='selectors', id='leftArrowButtonNose', src='arrowLeft.png',onclick='avatarMouthUp()')
        label(class='AvatarText') Mouth
        input(type='image', class='selectors', id='rightArrowButtonNose', src='arrowRight.png',onclick='avatarMouthDown()')
      div
        br       
        label(class='AvatarText') Color
      div
        br
        input(type='color',id='colorPicker',oninput='avatarUpdateColor()',value="#DEADBF")
  script(src='script.js')
