extends layout

block content
  div(class='container')
    div(class = 'signupF')
      form(id='form', method='post', action='/signup')
        div(class='one')
          h3 Infomation Entry
          label Username:
          br
          input(type='text', name='userName')
          br
          label Email:
          br
          input(type='text', name='email')
          br
          label Age:
          br
          input(type='text', name='age')
          br
          label Password:
          br
          input(type='password', name='password')
          br
          br
          input(type='submit', value='submit') 
        div(class='two')
          img(id='avatar',src='')
          input(type='text', class="hidden", id="hiddenSrc", name="avatarUrl")
          div 
            img(class='selectors', id='leftArrowButton', src='arrowLeft.png',onclick='avatarEyesUp()')
            label(class='AvatarText') Eyes
            img(class='selectors', id='rightArrowButton', src='arrowRight.png',onclick='avatarEyesDown()')
          div
            img(class='selectors', id='leftArrowButtonNose', src='arrowLeft.png',onclick='avatarNoseUp()')
            label(class='AvatarText') Nose
            img(class='selectors', id='rightArrowButtonNose', src='arrowRight.png',onclick='avatarNoseDown()')
          div
            img(class='selectors', id='leftArrowButtonNose', src='arrowLeft.png',onclick='avatarMouthUp()')
            label(class='AvatarText') Mouth
            img(class='selectors', id='rightArrowButtonNose', src='arrowRight.png',onclick='avatarMouthDown()')
          div
            br       
            label(class='AvatarText') Color
          div
            input(type='color',id='colorPicker',oninput='avatarUpdateColor()',value="#DEADBF")
  script(src='script.js')
