html{
    background: #435058;
}
.loginDiv{
    text-align: center;
}

.loginF{
    display: inline-block;
}

.container{
    justify-content: center;
    display: flex;
}

.signupF{
    text-align: center;
    background: #575366;
    padding: 50px;
    margin: auto;
    display: inline-flex;
    height: 100%;
}

.one {
    display: inline-block;
    padding: 50px;
  }
  
.two { 
    display: inline-block;
  }

label{
    color: white;
}
h3{
    color: white;
}

#avatar{
    border: 2px solid #9B1D20;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
  }

  .selectors{
      width: auto;
      height: 2em;
  }

  .AvatarText{
      position: relative;
      color: white;
      height: 30px;
      width: 30px;
      bottom: 10px;
  }

  .hidden {
    display: none;
  }

  #graphCanvas {
      background: #fff;
  }